.js-header-main-sticky {
  background-color: #ffffff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  transform: translateY(-100%);

  &.is--active {
    transform: translateY(0);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
  }
}